# Dependencies
node_modules
npm-debug.log*

# Builds
dist
dev-dist

# Environment
.env
.env.*
!.env.example

# VCS
.git
.gitignore
.github
.gitlab

# IDE
.vscode
.idea

# Cypress
cypress
cypress.config.mjs

# Docker
docker-compose.yml

# Misc
scripts
.DS_Store
