services:
  dev:
    build:
      context: .
      target: development
    container_name: wbd_frontend_dev
    working_dir: /app
    command: npm run dev
    ports:
      - "5173:5173"
    env_file:
      - .env
    volumes:
      - ./src:/app/src
      - ./public:/app/public
    restart: unless-stopped
    tty: true         # Keep container terminal open
    stdin_open: true  # Allow interactive input

  prod:
    build:
      context: .
      target: production
      args:
        VITE_API_URL: ${VITE_API_URL}
        VITE_API_VERSION: ${VITE_API_VERSION}
        VITE_FIREBASE_API_KEY: ${VITE_FIREBASE_API_KEY}
        VITE_FIREBASE_AUTH_DOMAIN: ${VITE_FIREBASE_AUTH_DOMAIN}
        VITE_FIREBASE_PROJECT_ID: ${VITE_FIREBASE_PROJECT_ID}
        VITE_FIREBASE_STORAGE_BUCKET: ${VITE_FIREBASE_STORAGE_BUCKET}
        VITE_FIREBASE_MESSAGING_SENDER_ID: ${VITE_FIREBASE_MESSAGING_SENDER_ID}
        VITE_FIREBASE_APP_ID: ${VITE_FIREBASE_APP_ID}
    container_name: wbd_frontend_prod
    ports:
      - "8080:80"
    restart: unless-stopped
